.title-persian,
.artist-persian {
  text-align: right;
  padding-right: 165px;
}

.artist-persian {
  margin-top: -5px;
  font-size: 40px;
  margin-bottom: 0;
}

.title-persian {
  font-size: 60px;
  margin: 0;
}

.lyrics {
  text-align: center;
  position: relative;
  height: 80px;
  max-height: 80px;
  display: block;
  min-height: 80px;
  margin: 0;
  padding: 0;
}

.lyrics-backup {
  text-align: center;
  height: 40px;
  max-height: 40px;
  display: block;
  min-height: 40px;
  position: relative;
  margin: 0;
  padding: 0;
}

.cover-art {
  display: block;
  margin: auto;
  padding-bottom: 30px;
  width: 750px;
  height: 750px;
  object-fit: cover;
}

.artist-persian,
.title-persian,
.lyrics,
.lyrics-backup,
.waveform,
.cover-art {
  opacity: 70%;
}

body {
  font-size: 14px;
  line-height: 1.7;
  font-family: Vazir, Tahoma, 'DejaVu Sans', helvetica, arial, freesans,
    sans-serif;
  padding-top: 240px;
  min-height: 100vh;
  overflow: hidden;
}

.waveform {
  position: relative;
  margin-top: -20px;
  width: 80vw;
  padding-left: 10vw;
  padding-top: 80px;
}

.background-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
  filter: blur(200px);
}

.secondary-background {
  background-color: rgba(0, 0, 0, 80);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  position: fixed;
  opacity: 0.72;
}

@media all and (min-width: 1920px) {
  section {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 10vw;
  }

  .artist-and-lyrics {
    flex: 1;
  }

  .cover-art {
    width: 600px;
    height: 600px;
  }

  body {
    padding-top: 120px;
  }
}
