.cell {
  width: 40px;
  height: 40px;
  position: absolute;
  border: 1px solid white;
  opacity: 0.8;
}

.cell.my-cell {
  background-color: green;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.cell.enemy-cell {
  background-color: red;
}