:root {
  --own-cell-color: green;
  --selected-cell-color: greenyellow;
  --enemy-cell-color: red;
  --adjacent-target-cell-color: rgba(0, 255, 0, 0.5);
  --two-blocks-away-target-cell-color: rgba(255, 165, 0, 0.3);
}

.cell {
  width: 40px;
  height: 40px;
  position: absolute;
  border: 1px solid white;
  opacity: 0.8;

  &.my-cell {
    background-color: var(--own-cell-color);
  }

  &.enemy-cell {
    background-color: var(--enemy-cell-color);
  }
}

body.player-turn {
  .cell {
    &.my-cell {
      cursor: pointer;

      &.selected-for-action {
        opacity: 1;
        background-color: var(--selected-cell-color);
      }

      &:hover {
        opacity: 1;
      }
    }

    &.target-cell {
      cursor: pointer;
      background: var(--adjacent-target-cell-color);

      &.two-blocks-away {
        background-color: var(--two-blocks-away-target-cell-color);
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

.self-last-online {
  color: white;

  & .self-status-circle {
    width:10px;
    height: 10px;
    display: inline-block;
    background-color: white;
    border-radius: 50%;
  }

  &.online {
    background-color: green;
  }

  &.connecting {
    background-color: orange;
  }

  &.offline {
    background-color: red;
  }
}

.other-player-last-online {
  color: white;

  & .other-player-status-circle {
    width:10px;
    height: 10px;
    display: inline-block;
    background-color: white;
    border-radius: 50%;
  }

  &.online {
    background-color: green;
  }

  &.connecting {
    background-color: orange;
  }

  &.offline {
    background-color: red;
  }
}
