.cell {
  width: 40px;
  height: 40px;
  position: absolute;
  border: 1px solid white;
  opacity: 0.8;

  &.my-cell {
    background-color: green;
    cursor: pointer;

    &.selected-for-action {
      opacity: 1;
      background-color: greenyellow;
    }

    &:hover {
      opacity: 1;
    }
  }

  &.enemy-cell {
    background-color: red;
  }
}